@font-face {
    font-family: Arial;
    src: url("public/fonts/Athabasca Bd.otf") format('truetype');
}

body {
    background: #0b0b0b;
    color: #f5d742;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container {
    background: rgba(20, 20, 20, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    max-width: 1100px;
    margin: 0 auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-button {
    width: 400px;
    height: 80px;
    border: 2px solid #f5d742;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    background: repeating-linear-gradient(
            45deg,
            rgba(255,255,255,0.2),
            rgba(255,255,255,0.2) 2px,
            transparent 2px,
            transparent 6px
    );
    color: #f5d742;
    transition: transform 0.2s;
}

.game-button:hover {
    transform: scale(1.05);
}

.button-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.button-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    text-align: left;
}

.line1 {
    font-size: 20px;
    color: inherit;
}

.line2 {
    color: white;
    font-weight: normal;
    font-size: 20px;
}


.game-button:hover {
    transform: scale(1.05);
    border-color: #9BE6B2;
    color: #9BE6B2;
}

.game-button:hover .button-icon {
    filter: brightness(0) saturate(100%) invert(84%) sepia(12%) saturate(352%) hue-rotate(96deg) brightness(1);
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.information {
    margin-bottom: 15px;
}

footer {
    margin-top: 500px;
    font-size: 1rem;
    color: #aaaaaa;
    text-shadow: 0 0 3px #000;
}

footer .creator {
    color: #ffcc00;
    font-weight: bold;
}

.wing img {
    width: 50px;
    height: auto;
}

.three-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.three-dots span {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    display: block;
}

