@font-face {
    font-family: Arial;
    src: url("../../../public/fonts/Athabasca Bd.otf") format('truetype');
}

body {
    background: #0b0b0b;
    color: #f5d742;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container {
    background: rgba(20, 20, 20, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    max-width: 1100px;
    margin: 0 auto;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input {
    padding: 12px;
    font-size: 16px;
}

#guessButton {
    padding: 15px 20px 14px;
    background: #f5d742;
    border: none;
    cursor: pointer;
}

#guess {
    min-width: 300px;
}

#timer {
    margin-top: 10px;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.information {
    margin-bottom: 15px;
}

footer {
    margin-top: 500px;
    font-size: 1rem;
    color: #aaaaaa;
    text-shadow: 0 0 3px #000;
}

footer .creator {
    color: #ffcc00;
    font-weight: bold;
}

#suggestions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    width: 398px;
    overflow-y: auto;
    background: #111;
    border: 1px solid #f5d742;
    padding: 5px;
    margin-top: 5px;
    display: none;
    z-index: 1000;
}

.suggestion {
    cursor: pointer;
    padding: 6px;
    text-align: left;
    color: #f5d742;
}

.suggestion:hover {
    background: #333;
    text-decoration: underline;
}