@font-face {
    font-family: Arial;
    src: url("../../../public/fonts/Athabasca Bd.otf") format('truetype');
}

body {
    background: #0b0b0b;
    color: #f5d742;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container {
    background: rgba(20, 20, 20, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    max-width: 1100px;
    margin: 0 auto;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
    background: #f5d742;
    color: #0b0b0b;
    width: 22px;
    height: 22px;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted black;
}


.tooltiptext {
    visibility: hidden;
    width: 400px;
    height: 20px;
    background: #111;
    color: #f5d742;
    text-align: left;
    padding: 10px;
    border: 1px solid #f5d742;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 105%;
    transform: translateX(-50%);
    white-space: normal;
    box-shadow: 0 0 10px #000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup:target {
    display: flex;
}

.popup-content {
    background: #1a1a1a;
    color: #f5d742;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    border: 2px solid #f5d742;
    border-radius: 6px;
    text-align: left;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
}

.popup-content h2 {
    margin-top: 0;
    color: #f5d742;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #f5d742;
    font-size: 18px;
}

input {
    padding: 12px;
    font-size: 16px;
}

#guessButton {
    padding: 15px 20px 14px;
    background: #f5d742;
    border: none;
    cursor: pointer;
}

#guess {
    min-width: 300px;
}

#timer {
    margin-top: 10px;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.information {
    margin-bottom: 15px;
}

footer {
    margin-top: 500px;
    font-size: 1rem;
    color: #aaaaaa;
    text-shadow: 0 0 3px #000;
}

footer .creator {
    color: #ffcc00;
    font-weight: bold;
}

#suggestions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    width: 398px;
    overflow-y: auto;
    background: #111;
    border: 1px solid #f5d742;
    padding: 5px;
    margin-top: 5px;
    display: none;
    z-index: 1000;
}

.suggestion {
    cursor: pointer;
    padding: 6px;
    text-align: left;
    color: #f5d742;
}

.suggestion:hover {
    background: #333;
    text-decoration: underline;
}

.arrow-icon {
    width: 50px;
    height: 50px;
}

.win-screen {
    text-align: center;
    border: 3px solid #f5d742;
    box-shadow: 0 0 30px rgba(245, 215, 66, 0.6);
    animation: fadeIn 0.6s ease forwards;
    overflow: hidden;
}

.win-header h2 {
    font-size: 32px;
    color: #f5d742;
    margin-bottom: 5px;
    letter-spacing: 2px;
    animation: popIn 0.6s ease;
}

.win-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    animation: missionWinAnimation 2s ease forwards;
}

.win-flex h2 {
    margin: 0;
    font-size: 32px;
    color: #f5d742;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;

}

.wing img {
    width: 50px;
    height: auto;
}

.win-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 45px;
    margin: 20px auto 20px auto;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #FCEB09;
    color: #0e0e0e;
    opacity: 0.8;
}


.win-body {
    padding: 15px 0;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.star-icon {
    width: 45px;
    height: auto;
    object-fit: contain;
}

.win-rewards {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1px 0;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 120px;
    height: 35px;
    background-color: #171717;
    border-radius: 6px;
    padding: 4px 8px;
}

.rect-icon-xp {
    width: 30px;
    height: auto;
    object-fit: contain;
}

.rect-icon-req{
    width: 20px;
    height: auto;
    object-fit: contain;
}

.xp-text {
    color: #A8B1F2;
}
.xp-text-max {
    color: #565570;
}

.req-text {
    color: #FDFD5B;
}
.req-text-max {
    color: #6A6931;
}

.win-stats {
    font-size: 16px;
    margin-bottom: 25px;
}

.share {
    background: #f5d742;
    color: #0b0b0b;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    min-width: 100px;
}

.share:hover {
    background: #fff06a;
    transform: scale(1.05);
}

.win-screen > *:not(.win-header),
.win-subtitle {
    opacity: 0;
    animation: fadeInRest 1s ease forwards;
    animation-delay: 2s;
}

.win-subtitle{
    animation-delay: 3s !important;
}


.win-body {
    animation-delay: 4s !important;
}


@keyframes fadeInRest {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes missionWinAnimation {
    0% {
        opacity: 0;
        transform: translateY(180px);
    }
    20% {
        opacity: 1;
        transform: translateY(180px);
    }
    80% {
        opacity: 1;
        transform: translateY(180px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}


@media (max-width: 600px) {
    .categories-header, .categories {
        flex-direction: column;
        gap: 5px;
    }

    .categories-header .cat-header,
    .categories .category,
    .categories .name-image {
        width: 100%;
    }

    .name-image img {
        width: 80px;
        height: 80px;
    }
}